<template>
  <div class="card">
    <div class="card-header d-flex justify-content-between">
      <h1>
        {{ boulder.name }}
      </h1>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="goHome">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <img
      v-if="showImage"
      class="card-img-top"
      v-bind:src="'/images/boulders/' + boulder.image"
      alt="{{ boulder.name }}"
    />
    <div class="card-body">
      <p class="card-small">{{ boulder.fa }}</p>
      <p class="card-text">
        {{ boulder.description }}
      </p>

      <!--<RouterLink :to="{ name: 'home' }" class="btn btn-primary">Retour à la carte</RouterLink>-->
      <img class="map" @click="showBoulder" src="@/assets/map.png" alt="map" />
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      boulder: {},
      showImage: false
    }
  },
  emits: ['show-current-boulder'],

  mounted() {
    this.boulder = this.$boulders[this.$route.params.index]
    this.verifierImage()
  },
  methods: {
    async verifierImage() {
    

      const boulderImage = '/images/boulders/' + this.boulder.image

      // Créer un nouvel élément Image
      const img = new Image();

      // Gérer les événements de chargement et d'erreur
      img.onload = () => {
       // console.log('Image existe :', boulderImage);
        this.showImage = true
      };

      img.onerror = () => {
        //console.log('Image n\'existe pas :', boulderImage);
        this.showImage = false
      };

      // Définir la source de l'image
      img.src = boulderImage;
      


    },
    goHome() {
      this.$router.push('/')
    },
    showBoulder() {
      this.$router.push({ name: 'home', query: { markerId: this.$route.params.index } })
    }
  }
}
</script>

<style scoped>
.card {
  width: 90%;
  margin: auto;
  margin-top: 1rem;
}
img {
  width: 250px;
  padding: 1rem;
}

.close {
  font-weight: bold;
  font-size: 2rem;
  border: 0;
  background-color: transparent;
}

.card-header {
  text-align: right;
}
.map {
  width: 100px;
}
</style>
