<template>
  <ul class="list-group">
    <li class="list-group-item" v-for="(boulder, index) in $boulders" :key="index">
      <RouterLink :to="{ name: 'boulder', params: { index: index } }"
        ><strong>{{ boulder.name }}</strong></RouterLink
      >
      ({{ boulder.grade }})
    </li>
  </ul>
</template>

<script></script>

<style scoped>
li {
  font-size: 1.4rem;
  text-decoration: none;
}

li a {
  text-decoration: none;
}
</style>
