<template>
  <MapComponent :markerId="markerId" />
</template>

<script>
import MapComponent from '@/components/MapComponent.vue'

export default {
  name: 'HomeView',
  components: {
    MapComponent
  },
  data() {
    return {
      markerId: -1
    }
  },
  mounted() {
    if (this.$route.query.markerId) {
      this.boulderIndex = this.$route.query.markerId
    }
  }
}
</script>
