<template>
  <div id="map"></div>
</template>

<script>
import 'leaflet/dist/leaflet.css'
import L from 'leaflet'
import markerIcon2x from '@/assets/marker-icon-2x.png'
import markerIcon from '@/assets/marker-icon.png'
import markderShadow from '@/assets/marker-shadow.png'
import markerIconRed from '@/assets/marker-icon-red.png'
import { userLocationStore } from '../stores/userLocationStore';

export default {
  props: {
    markerId: {
      type: String,
      default: null
    }
  },
  data() {
    return {
      map: null,
      latitude: 47.088031,
      longitude: -71.349911,
      boulders: []
    }
  },
  created() {
    L.Marker.prototype.options.icon = L.icon({
      iconRetinaUrl: markerIcon2x,
      iconUrl: markerIcon,
      shadowUrl: markderShadow,
      iconSize: [25, 41],
      iconAnchor: [12, 41],
      popupAnchor: [1, -34],
      tooltipAnchor: [16, -28],
      shadowSize: [41, 41]
    })
  },
  mounted() {
    this.initMap()
    //this.findUserLocation();
    //this.loadExcel()
    this.loadMarkers()

    const locationStore = userLocationStore();
    locationStore.startLocationWatch();

    this.$watch(() => locationStore.userLocation, (newLocation) => {
      if (newLocation) {
        this.map.setView([newLocation.latitude, newLocation.longitude], this.map.getZoom());
        L.marker([newLocation.latitude, newLocation.longitude]).addTo(this.map)
          .bindPopup('Vous êtes ici')
          .openPopup();
      }
    }, { immediate: true });
  },
  beforeUnmount() {
    const locationStore = userLocationStore();
    locationStore.stopLocationWatch();
  },
  methods: {
    initMap() {
      this.map = L.map('map').setView([this.latitude, this.longitude], 16)

      /*L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
      }).addTo(this.map)*/

      //satelite map
      L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}', {
        maxZoom: 20,
        subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
      }).addTo(this.map)

      //this.map.locate({ setView: true, maxZoom: 16 })
    },
    findUserLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(
          (position) => {
            console.log('position', position)

            const { latitude, longitude } = position.coords
            this.latitude = latitude
            this.longitude = longitude

            this.map.setView([latitude, longitude], 13)
            L.marker([latitude, longitude], { draggable: false }).addTo(this.map)
          },
          (error) => {
            console.error('erreur:', error)
            if (error.code == error.PERMISSION_DENIED) {
              alert('Vous devez autoriser la géolocalisation pour utiliser cette fonctionnalité.')
            }
          }
        )
      } else {
        console.error("La géolocalisation n'est pas supportée par votre navigateur.")
      }
    },
    loadMarkers() {
      console.log('markerId', this.markerId)
      for (let i = 0; i < this.$boulders.length; i++) {
        const boulder = this.$boulders[i]
        var marker = L.marker([boulder.lat, boulder.lon], { draggable: false })

        if (i == this.markerId) {
          //Change to red marker
          const redMarker = L.icon({
            iconUrl: markerIconRed,
            shadowUrl: markderShadow,
            iconSize: [50, 50],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            tooltipAnchor: [16, -28],
            shadowSize: [41, 41]
          })
          marker.setIcon(redMarker)
        }

        if (boulder.lat !== 0 && boulder.lon !== 0) {
          marker.addTo(this.map)
          var content = `<strong><a data-index="${i}" href="/boulders/${i}">${boulder.name}</a></strong><br>${boulder.grade}<br>`
          marker.bindPopup(content)

          marker.on('click', function () {
            this.openPopup()
          })
        }
      }
    }
  }
}
</script>

<style>
#map {
  height: 100vmax;
  width: 100vmax;
}
</style>
