<template>
  <header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Candy land</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarsExample03"
          aria-controls="navbarsExample03"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample03">
          <ul class="navbar-nav me-auto mb-2 mb-sm-0">
            <li class="nav-item">
              <a class="nav-link" href="/">Carte</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/boulders">Liste des problèmes</a>
            </li>
            <li>
              <a class="nav-link" @click="locateUser">Locate user</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

 
  <RouterView />
</template>

<script>
import { userLocationStore } from './stores/userLocationStore';

export default {
  data() {
    return {}
  },
  methods: {
    locateUser() {
      const locationStore = userLocationStore();
      locationStore.fetchUserLocation();
    }
  }
}
</script>
<style scoped>
header {
  padding: 0px;
}
.navbar {
  padding: 1rem;
}
</style>
